DATABASE_URL="file:./dev.db"
PASSWORD_SECRET="V3ryS3cur3.CH4NG3_TH1S!"
TOKEN_SECRET="V3rYS3cur3.CH4NG3_TH1S!"
COOKIE_NAME="M4K3_TH1S_R4ND0M!!!"
IS_HTTPS=false
MCDN_KEY="YOUR_MCDN_KEY"
ABUSEIPDB_KEY=
WHITELISTED_IPS="1.1.1.1,2.2.2.2,3.3.3.3"
